<div class="discription">
  <h2 mat-dialog-title>{{data.name}}</h2>
<mat-dialog-content>


</mat-dialog-content>
  <mat-dialog-actions>
 <div class="data"><strong>Period:</strong>{{data.period}}.</div>
  <div class="data"><strong>Teamsize:</strong>{{data.teamsize}}.</div>
    <div class="data"><strong>Technologies:</strong>{{data.technologies}}.</div>
  <div class="data"><strong>Discription:</strong>{{data.discription}}.</div>

    <div class="data"> <button mat-raised-button color="primary" (click)="onCloseCancel()">CLOSE</button></div>
  </mat-dialog-actions>
</div>
