:host {
  margin-top: 10%;
  display: flex;
  margin-left: 4%;
  opacity: .8;

}
.interestdiv {
  margin: auto;

}
.cardtitle{
  text-align: center;
  border-radius: 10px;
  color:#5942f4;
  font-size: 30px;
  background: darkcyan;
  color: white;
  padding: 10px;
}
.contents{
  padding: 5%;
}
.elements{
padding: 5%;
}
